[2020-08-30 11:59] wordshaker opened #2 "Hacktober Feature Request: Add Content To Code of Conduct Page"
### Description Of Feature

* Add the code of conduct for .NET Notts to the Code of Conduct page.

Content can be found here: https://dotnetnotts.co/#!/codeofconduct

### Advantages

* The Code of Conduct ensures that the .NET Notts environment runs in a way that is safe and welcoming to all those attending. It informs attendees what to do when they feel unsafe or uncomfortable and what actions th

[2020-08-30 13:54] wordshaker opened #7 "Hacktober Feature Request: Create Blank Page for Learn .NET Resources and Add to Nav"
### Description Of Feature

* Create Blank Page for Learn .NET Resources
* Add to Navigation Bar

### Advantages

* Page is in place to add .NET Resources

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] A blank page is added that can be navigated to from a link on the navigation bar
- [ ] Navigation has a "Learn .NET" link

[2020-09-07 16:57] wordshaker opened #10 "Hacktober Feature Request: Document how to run website locally"
### Describe the feature

- Instructions are added to the readme for how to run the website locally.

### Advantages

- Helps others to test their changes.

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] The readme instructions can be followed to run the website locally.

[2020-09-07 17:07] wordshaker opened #11 "Hacktober Feature Request: Add tabbing behaviour to text on the Speak Page"
### Describe the feature

- To be able to tab through all headers and paragraph sections

### Advantages

- Improves the accessibility of the website

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Can tab through the text sections of the Speak page.

[2020-09-07 17:08] wordshaker opened #12 "Hacktober Feature Request: Add tabbing behaviour to text on the Code Of Conduct Page"
### Describe the feature

- To be able to tab through all headers and paragraph sections

### Advantages

- Improves the accessibility of the website

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Can tab through the text sections of the Code of Conduct page.

[2020-09-07 17:10] wordshaker opened #13 "Hacktober Feature Request: Add Content To Speaker Info Page"
### Description Of Feature

* Add content to the Speaker Info page.

Content can be found here: https://dotnetnotts.co/#!/speakerinfo

### Advantages

* The Speaker Info Page shares information that prospective speakers may need.

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] The content of https://dotnetnotts.co/#!/speakerinfo shows on the

[2020-09-07 17:13] wordshaker opened #14 "Hacktober Feature Request: Add tabbing behaviour to text on the Speaker Info Page"
### Describe the feature

- To be able to tab through all headers and paragraph sections

### Advantages

- Improves the accessibility of the website

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Can tab through the text sections of the Speaker Info page.

[2020-09-07 17:15] wordshaker opened #15 "Hacktober Feature Request: Make website responsive"
### Describe the feature

- The website is useable and attractive on mobile and tablet views

### Advantages

- The website can be used and accessed on any device

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Website works on tablet
- [ ] Website works on mobile

[2020-09-07 17:24] wordshaker opened #16 "Hacktober Feature Request: Add Sponsor images to the home page."
### Describe the feature

Sponsor logos are added to the bottom of the homepage of the website and links are opened in a new tab.

- The ____ logo is linked to ____

### Advantages

- Lets people know about our awesome sponsors!

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Sponsor images are at the bottom of the .NET Notts homepage
- [ ]

[2020-09-07 17:28] wordshaker opened #17 "Bug: Image in header responsively fits"
### Describe the bug

The image in the header doesn't always fit inside the frame. This issue is to ensure it does.

### Screenshots

![image](https://user-images.githubusercontent.com/13496774/92409220-bcb9a600-f137-11ea-8380-60de04174f27.png)

[2020-09-07 17:29] wordshaker opened #18 "Bug: Blue buttons to always have white text"
### Describe the bug

Make the text on the button white to increase the contrast and improves the visibility.

### Screenshots

![image](https://user-images.githubusercontent.com/13496774/92409277-f68aac80-f137-11ea-9967-dfdafa765cd7.png)

[2020-09-07 17:37] wordshaker opened #19 "Hacktober Feature Request: Add Gallery of Speakers Page"
### Describe the feature

- A page which has a grid of images of past speakers
- Images could have speakers social links

### Advantages

- An easy place to see and find out about all our great past speakers

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Page with a gallery of speaker images
- [ ] The page is responsive and the grid works o

[2020-09-07 17:39] wordshaker opened #20 "Hacktober Feature Request: Add footer"
### Describe the feature

- Footer is added in the .NET Notts colour : #05bd9e
- Any text on the Footer is white

### Advantages

N/A

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Footer is displayed on all pages of the website.

[2020-09-07 17:44] wordshaker opened #21 "Hacktober Feature Request: Add social media links to the footer"
### Describe the feature

**To be done after the issue #20 is completed**

Links to our social media pages are added to the footer

### Advantages

N/A

### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

**Links to our social media pages are added to the footer**

- [ ] Twitter https://twitter.com/dotnetnotts

- [ ] Meetup https://www.meetup.com/dotnet

[2020-09-07 17:48] wordshaker opened #22 "Hacktober Feature Request: Create Contact Us Page"
### Describe the feature

- Contact Us Page is added to the website and linked on the navigation bar
- Contains information about the co-organisers Pete and Jess
- Has links for how to contact them by email.

### Advantages

- If anyone needs to get in touch they will be able to find out how to on the website.

### Acceptance Criteria

Functional and non-functional criteria that should be met by t

[2020-09-21 10:42] Haniket commented on #21
I want to work on this........

[2020-09-21 11:25] Haniket commented on #22
hi there,I am new to open source and looking forward to participate in hacktoberfest 2020.Can I work on it

[2020-09-24 09:36] wordshaker commented on #22
Yeah sure 👍🏼 Let us know if you need any assistance

[2020-09-24 15:08] Haniket commented on #22
mam link on contribution.md  file is showing 404 errror........if you can tell how to make contribution will be helpfull......

[2020-09-24 15:30] pjgpetecodes opened #23 "Bug: The "Contribution Guidelines" link is broken in the README.md file"
### Describe the bug

- The Contributing Guidelines link in the repo README.md file is broken.
- It currently returns a 404 Page.
- The link is pointing to `./github/contributing.md`, which doesn't exist.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to [README.md](README.md#contributing)
2. Click Contributing Link

**Reproduces how often:**

100% of the time.

**Expected behaviour**

[2020-09-24 18:49] HarshalGoyal commented on #23
@pjgpetecodes i just fixed it and created the PR kindly check it

[2020-09-24 20:04] a-developer-and-her-mac commented on #18
Is this the button in Speak.razor? If so, I'll try to take on this issue for Hacktoberfest.

[2020-09-24 20:08] a-developer-and-her-mac commented on #18
Oh, never mind, I think somebody else fixed this.. You might want to close this issue.

[2020-09-24 20:49] soulhunter10737 commented on #23
I would like to take this

[2020-09-24 20:57] pjgpetecodes commented on #23
Awwww... Sorry @soulhunter10737 ... It's been done already!

[2020-09-24 21:02] soulhunter10737 commented on #23
@pjgpetecodes  Thanks for telling! Better luck next time :)

[2020-09-24 21:04] soulhunter10737 commented on #17
Hey can you tell me how to generate this? Then I would like to take this

[2020-09-25 06:56] rajeevbhat27 commented on #7
Hi..I would like to work on this.

[2020-09-25 07:06] rajeevbhat27 commented on #20
Hello...I want to take this up for Hactoberfest.

[2020-09-25 07:12] #23 closed

[2020-09-25 07:58] CilgaIscan commented on #15
I would like to work on this project for Hacktober2020, @wordshaker

[2020-09-25 08:17] Divyanshwick commented on #21
I want to work on this issue

[2020-09-25 08:18] Divyanshwick commented on #20
I want to contribute to this issue

[2020-09-25 08:20] Divyanshwick commented on #19
I want to contribute to this issue

[2020-09-25 10:23] pjgpetecodes commented on #19
Sounds great @Divyanshwick! Consider yourself assigned!

[2020-09-25 10:27] pjgpetecodes commented on #18
Hi @a-developer-and-her-mac .. I don't think it has been fixed... The site can be found here...

[.NET Notts - New Site](https://dotnetnotts.azurewebsites.net/speak)

Would you like to be assigned?

[2020-09-25 10:28] pjgpetecodes commented on #17
Hi @soulhunter10737 ... The temporary site can be found here...

https://dotnetnotts.azurewebsites.net/

[2020-09-25 10:30] pjgpetecodes commented on #15
Sounds good to me @CilgaIscan ... Consider yourself assigned!

This one may require more than one person, so do please put your hand up if you'd like to help!

[2020-09-25 10:31] pjgpetecodes commented on #20
Ooo... As @rajeevbhat27 was first, I'll go ahead and assign it to Rajeev if that's ok @Divyanshwick?

Feel free to comment back if you decide between you to switch!

[2020-09-25 10:33] pjgpetecodes commented on #7
Okeydokey @rajeevbhat27... Thanks... Consider yourself assigned!

[2020-09-25 10:36] rajeevbhat27 commented on #7
Thanks, @pjgpetecodes  I will contribute for this in the Hactoberfest period ;)

[2020-09-25 10:42] soulhunter10737 commented on #17
@pjgpetecodes  can you tell me how to generate in personal system? The code and reference.

[2020-09-25 14:46] a-developer-and-her-mac commented on #18
Sure, I'll give it a try.

[2020-09-26 05:50] Haniket commented on #21
@wordshaker how to run the application on my local system....plz help

[2020-09-26 07:25] pjgpetecodes commented on #21
You should be able to clone the repo, then either open and run the app in Visual Studio 2019 or from the CLI with `dotnet run`.

You'll also need the latest .NET Core of course.

[2020-09-26 09:41] Haniket commented on #22
@wordshaker what are the details I have to put in the contact us page means I don't have information about Pete and Jess to put in the contact us page

[2020-09-26 11:11] wordshaker commented on #22
Ah yes, sorry

### General Meetup contact details

You can contact the organisers on any of the meetups social media sites. Both Pete and Jessica have access.

Twitter: https://twitter.com/dotnetnotts
Meetup: https://www.meetup.com/dotnetnotts
LinkedIn: https://www.linkedin.com/company/dotnet-notts

### Organisers

**Pete Gallagher**

Pete is a Freelance Programmer, Microsoft Azure MVP, Pluralsigh

[2020-09-26 11:12] wordshaker commented on #22
Feel free to put this information on the page in any way you like. Let me know if you want any images.

[2020-09-26 11:13] wordshaker commented on #21
I will add instructions to the Readme today

[2020-09-26 11:14] wordshaker commented on #18
All issues tagged with hacktoberfest labels are expected to be done in October 😄 Take your time with it

[2020-09-26 11:15] wordshaker commented on #19
Hey @pjgpetecodes, please can you add somewhere that the contributor can access the images?

[2020-09-26 11:27] pjgpetecodes commented on #17
I think @wordshaker is drafting up some instructions today @soulhunter10737...

[2020-09-26 11:35] wordshaker commented on #17
It's in PR ready for your approval (once the checks have passed) @pjgpetecodes. Added instructions to the repositories Readme

[2020-09-26 12:52] wordshaker opened #26 "Bug: Update Contents Section in the Readme"
### Describe the bug

The Contents section in the [Readme is currently incomplete](https://github.com/dotnetnotts/dotnetnotts-web/blob/main/README.md)

**To Reproduce**

Visible from [the main repository page](https://github.com/dotnetnotts/dotnetnotts-web/) and [here]](https://github.com/dotnetnotts/dotnetnotts-web/blob/main/README.md)

**Reproduces how often:**

Always

**Expected behaviour**

T

[2020-09-26 13:38] pjgpetecodes commented on #19
Yup... I'll go and collect a bunch of photos and update the issue once I've sorted them!

[2020-09-26 16:01] ShubhamSood1406 commented on #26
Hey, @wordshaker whats the actual bug as I can see in Readme.md file that there is a Section for Branding and Contributing in Contents.

[2020-09-26 17:02] wordshaker commented on #26
![image](https://user-images.githubusercontent.com/13496774/94346092-4ddab900-0022-11eb-86e9-51a225ba5cf8.png)

The `Local Development` and subheadings for this section are missing from the contents section

[2020-09-26 17:11] ShubhamSood1406 commented on #26
Okay, I will try to fix it and will add Local Development and its sub-heading and Build Tool to Contents section. Can you assign me this issue?

[2020-09-26 18:34] ShubhamSood1406 commented on #26
Is it fine that I will send PR on October 1st?

[2020-09-26 20:13] wordshaker commented on #26
Yes that's fine. We are expecting these issues to be dealt with over October.

[2020-09-27 02:32] atharvakadlag commented on #18
@pjgpetecodes The issue has now been fixed the pull request is ready to be merged without any conflict

[2020-09-27 13:26] Haniket commented on #22
@wordshaker can you please give me 1 photo each of jess and pete....adding the photo will be give the page a great look.....

[2020-09-28 06:26] rajeevbhat27 commented on #16
Hi.. I wanna take this up in Hacktoberfest.

[2020-09-28 12:27] Haniket commented on #22
@wordshaker do I have to make footer also on contact us page ......

[2020-09-28 12:56] wordshaker commented on #16
Hey @pjgpetecodes, where can @rajeevbhat27 find images of the sponsor logos?

[2020-09-28 12:57] wordshaker commented on #22
No you don't 😄 I'll raise another issue for adding a footer to all pages

[2020-09-28 13:05] rajeevbhat27 commented on #10
Hey..looks like this has been completed already.

[2020-09-28 14:01] Haniket commented on #22
okk

@wordshaker mam what about images....

[2020-09-28 16:47] wordshaker commented on #22
**Pete**
![image](https://user-images.githubusercontent.com/13496774/94461869-9923d180-01b2-11eb-8fc2-e7aef6c75a5e.png)

https://res.cloudinary.com/dsfcrod4r/image/upload/v1601311468/.NET%20Notts/Pete_ashxih.jpg

**Jessica**

![image](https://user-images.githubusercontent.com/13496774/94461926-ae006500-01b2-11eb-92df-1289b8ccd032.png)

https://res.cloudinary.com/dsfcrod4r/image/upload/v1601311587/

[2020-09-28 16:49] wordshaker commented on #10
You are quite right. Sorry about that. I will close this issue.

[2020-09-28 16:49] #10 closed

[2020-09-28 18:54] mosoftwareenterprises commented on #2
I would like to pick this issue up if I could.

[2020-09-29 04:55] Riya-code commented on #2
@wordshaker can I take it?

[2020-09-29 06:17] mosoftwareenterprises commented on #13
Can I take this @wordshaker ?

[2020-09-29 08:38] wordshaker commented on #13
Certainly 😄

[2020-09-29 08:39] wordshaker commented on #2
Hi @mosoftwareenterprises requested the issue first so it will go to them.

[2020-09-30 15:45] wordshaker opened #28 "Hacktober Feature Request: Design Homepage"
### Describe the feature

- Design the homepage
- Add a link to the readme branding section

### Advantages

- We'll have an idea what the homepage should look like

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Must match the branding outlined in the readme

[2020-09-30 16:23] mallick370 commented on #22
Hello, I am new to hacktober fest and I am an UI/UX Designer, I will like to design the UI of the website. Can I make contribution in this manner?

[2020-09-30 18:28] wordshaker opened #29 "Feature Request: Improve Accessibiltiy with ARIA tags"
### Describe the feature

- Add aria tags to the HTML of the website.

### Advantages

- Ensuring the site is more accessible and easier to navigate with screen readers

## Links

- [w3 Org](https://www.w3.org/TR/html-aria/)
- [What the Heck is ARIA? A Beginner's Guide to ARIA for Accessibility](https://www.lullabot.com/articles/what-heck-aria-beginners-guide-aria-accessibility)

#### Acceptance C

[2020-09-30 18:30] wordshaker opened #30 "Hacktober Feature Request: Add UI Tests"
### Describe the feature

- Using a framework of your choice, add some initial front end tests

### Advantages

- Ensures we don't break the front end with our changes

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Front end tests run and pass
- [ ] How to run the front end tests is documented in the readme

[2020-09-30 18:36] wordshaker opened #31 "Hacktober Feature Request: Add Accessibility tests"
### Describe the feature

- Add pa11y to CI build to demonstrate how changes impact accessibility

### Advantages

- Helps the repo keep an accessibility focus

## Links

- [pa11y ](https://github.com/pa11y/pa11y-ci)

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Pally runs on every PR build

[2020-09-30 18:43] wordshaker opened #32 "Hacktober Feature Request: Create Pride Logo"
### Describe the feature

- Create a Pride themed logo for .NET Notts

### Advantages

- Helps us celebrate and support Pride next year

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Logo is designed and added into an assets folder

[2020-09-30 20:02] jenniferpinai commented on #32
Is the Pride theme logo in accordance with the current .NET Notts branding (e.g. change the green palette background to rainbow theme)? The assets folder currently has the logo in .png format—do you happen to have an editable, vector format of it? This will help instead of recreating the logo entirely.

[2020-09-30 23:59] rach-m commented on #29
Hi! Would love to contribute to this!

[2020-10-01 01:06] rach-m commented on #28
Happy to work on this! Would love more information regarding any thoughts/requirements you may have in mind

[2020-10-01 10:31] hansaj-sharma commented on #18
i think the issue is not fixed on the website, can i make a pull Request?

[2020-10-01 16:28] RitikaShrestha-me commented on #28
Can I work on this?

[2020-10-01 18:49] wordshaker commented on #22
Hi @mallick370

We would love to see your designs and you can certainly submit some.

You could redesign any page and, as discussed in issue #28, to get your PR for Hacktoberfest add a link to your designs or the images to the repositories readme.

Let me know if we can help in any way

[2020-10-01 18:50] wordshaker commented on #32
Hi @jenniferpinai

- Change the pallette to a rainbow theme
- I can try to create a more editable version of it but I'm limited by my use of Gimp. I will ask one of my designer friends if she can create an editable, vector format of it

[2020-10-01 18:53] wordshaker commented on #29
Thanks @rach-m! It's all yours 😄

[2020-10-01 18:54] wordshaker commented on #18
Hi @hansaj-sharma Please do 😄

[2020-10-01 19:22] wordshaker opened #37 "Hacktober Feature Request: Add .NET Links to Learn .NET page"
### Describe the feature

Add the following links under a Learn .NET header:

- [ ] Microsoft Learn .NET Page - https://dotnet.microsoft.com/learn

- [ ] First Steps with C# Learning Path - https://docs.microsoft.com/en-gb/learn/paths/csharp-first-steps/?WT.mc_id=cloudskills-stream-ajack

- [ ] .NET Docs - https://docs.microsoft.com/en-gb/dotnet/?WT.mc_id=cloudskills-stream-ajack

- [ ] ASP.NET Do

[2020-10-01 19:24] wordshaker opened #38 "Hacktober Feature Request: Add Azure Links to Learn page"
### Describe the feature

Add the following links under a Learn Azureheader:

- [ ] Azure documentation - https://docs.microsoft.com/en-gb/azure/?product=featured#languages-and-tools&WT.mc_id=cloudskills-stream-ajack

- [ ] Quickstart: Create a function in Azure that responds to HTTP requests - https://docs.microsoft.com/en-gb/azure/azure-functions/functions-create-first-azure-function-azure-cli?p

[2020-10-01 19:27] wordshaker opened #39 "Hacktober Feature Request: Rename Learn .NET page and link"
### Describe the feature

- Rename Learn .NET page to Learn
- Rename Learn .NET link to Learn

### Advantages

- Means we can add resources for learning Azure as well as .NET in this page

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Both link in navigation bar and page are called "Learn"

[2020-10-01 19:30] BatoolMM commented on #37
Hi @wordshaker , can you assign it to me, please?

[2020-10-01 19:48] wordshaker commented on #37
It's all yours 😄

[2020-10-01 20:04] kyebrowning commented on #38
Would I be able to take this one?

[2020-10-01 20:13] Augilar commented on #39
@wordshaker Can I do this ?

[2020-10-01 21:27] CilgaIscan commented on #15
Noticed the project is written in .NET which I am not familiar with. Due to this, I unassigned myself.

[2020-10-01 21:36] pjgpetecodes opened #42 "Hacktober Feature Request: Upload speaker images"
### Describe the feature

- We need a set of Speaker Images from Previous Events adding to the site to use on the Speakers Page

### Advantages

- We can create a page showing images of previous speakers

#### Acceptance Criteria

- A folder created in the wwwroot/images director named speakers.
- Various images of previous speakers
- Naming Convention - firstname_lastname_imagenumber.png

[2020-10-01 21:55] pjgpetecodes commented on #19
I've now created a pull request containing the speaker photos... Once it's approved, I'll update this Issue.

[2020-10-02 00:11] baspalinckx commented on #42
I wouldn't mind helping, but do you have these images so that I can place them on the site? If so, please assign me!

[2020-10-02 07:23] pjgpetecodes commented on #42
Howdy @baspalinckx ... I've sorted this one... But thanks for the offer!

[2020-10-02 07:23] #42 closed

[2020-10-02 10:46] rajeevbhat27 commented on #16
I am gonna need those sponsor logos and links. Thanks

[2020-10-02 11:37] ReoCorreia commented on #38
I like to this project

[2020-10-03 03:55] Haniket commented on #22
@wordshaker  as I have completed the task plz add "hacktoberfest-accepted" label to so that it can be counted in hacktoberfest as mentioned on there website.....

[2020-10-03 09:14] wordshaker commented on #39
Thank you for your contribution @Augilar

[2020-10-03 09:18] wordshaker commented on #38
It's all yours @kyebrowning

[2020-10-03 10:01] jonasvag commented on #12
https://github.com/dotnetnotts/dotnetnotts-web/pull/48

[2020-10-03 10:01] jonasvag commented on #14
https://github.com/dotnetnotts/dotnetnotts-web/pull/48

[2020-10-03 10:17] wordshaker opened #49 "Bug: Update Contributing Guidelines and Readme"
### Describe the feature

Make the contribution guidelines clearer

### Advantages

- To help people know how to pick up issues and contribute to this repository

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Contribution guidelines are clearer

[2020-10-03 10:17] wordshaker commented on #49
I'm picking this up

[2020-10-03 10:48] #49 closed

[2020-10-03 10:49] #7 closed

[2020-10-03 10:51] wordshaker commented on #17
@soulhunter10737 the instructions are now in the readme

[2020-10-03 10:52] wordshaker commented on #19
@Divyanshwick - the photos are now available in the repo 😄

[2020-10-03 10:53] #26 closed

[2020-10-03 10:53] wordshaker commented on #28
Please do @RitikaShrestha-me  😄 Let us know if you need any further instruction

[2020-10-03 10:54] #37 closed

[2020-10-03 10:54] #39 closed

[2020-10-03 10:57] wordshaker opened #51 "Hacktober Feature Request: Design Learn Page"
### Describe the feature

- Create a design to make the Learn Page approachable and pretty using the .NET Nott branding guidelines in the README

### Advantages

- IT will make the page more appealing

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Design added to the repository for the Learn page

[2020-10-03 10:59] wordshaker opened #52 "Hacktober Feature Request: Design Events Page"
### Describe the feature

- Create a design to make the Events Page approachable and pretty using the .NET Nott branding guidelines in the README

### Advantages

- It will make the page more appealing

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Design added to the repository for the Learn page
- [ ] Page will display past and current ev

[2020-10-03 11:01] wordshaker opened #53 "Hacktober Feature Request: Design Speaker Info Page"
### Describe the feature

- Create a design to make the Speaker Info Page approachable and pretty using the .NET Nott branding guidelines in the README

### Advantages

- It will make the page more appealing

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Design added to the repository for the Speker Info page
- [ ] Contains the same informa

[2020-10-03 11:07] RitikaShrestha-me commented on #28
Is there any details on what all is to be kept in the Homepage?

[2020-10-03 12:18] wordshaker commented on #28
You have free reign. Whatever you think a person would want to see on the homepage if they wanted to learn more about the meetup

[2020-10-03 15:33] LukeBillo commented on #30
Hey! I'll take a look into doing this.

Could you elaborate a little into what you want for 'front end' tests? Not sure if you mean acceptance level (i.e. Selenium) or something like [bUnit](https://github.com/egil/bUnit)? I can do both if you like, but if so I'll probably do it as two separate PRs if that's alright.

[2020-10-03 15:57] Aliecake opened #54 "Hacktober Feature Request: Add tabbing behavior to Navigation"
### Describe the feature

- Ability to tab through the navigation first

### Advantages

- Improving accessibility.

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Can tab through navigation

[2020-10-03 15:57] Aliecake commented on #54
I'd like to work on this

[2020-10-03 15:58] Aliecake commented on #11
I'd like to work on this

[2020-10-03 16:43] wordshaker commented on #11
It's all yours @Aliecake

[2020-10-03 16:47] wordshaker commented on #30
Hey @LukeBillo bUnit should be fine, but if you want to do both, feel free 😄 Two PRs if fine as well

[2020-10-03 17:07] kyebrowning commented on #38
@wordshaker looks like this has already been done with a previous branch. Would you still like me to do it?

[2020-10-04 07:19] pjgpetecodes commented on #16
Hey @rajeevbhat27 ... These should be in the `wwwroot/images/sponsors` folder now...

[2020-10-04 11:11] wordshaker commented on #32
Here's an SVG of the logo if it helps: https://drive.google.com/file/d/1D-3XEXN96a2Iak_5fQ7vk4jTHZlg_9Bb/view?usp=sharing

[2020-10-04 16:27] rajeevbhat27 commented on #20
Hello, which all social media links do you need in footer ? Please provide links for that.
Thanks

[2020-10-05 05:54] wordshaker commented on #20
- Twitter: https://twitter.com/dotnetnotts
- LinkedIn: https://www.linkedin.com/company/dotnet-notts
- Meetup: https://www.meetup.com/dotnetnotts

and yes, you can use font-awesome

[2020-10-06 20:47] kavita121 commented on #32
Heyy!! Can I work on this??

[2020-10-07 09:04] wordshaker commented on #32
@kavita121 yes you can 😄 get in touch if you have any questions

[2020-10-08 07:36] #13 closed

[2020-10-08 09:14] pjgpetecodes opened #61 "Hacktober Feature Request: Allow application to use any major version of .NET Core 3.1"
### Describe the feature

Currently the site is bound to .NET Core 3.1.401.

We'd like to allow any major version of .NET Core 3.1 to be used.

The main issue is with the GitHub Actions Yaml, in the .github/actions folder.

We're not sure how to configure that to take the latest version rather than a specific version. The section of the yaml affected is;

[code]

The following page seems to infer

[2020-10-08 09:16] pjgpetecodes commented on #61
@mosoftwareenterprises... If you're interested in taking this one on... It's all yours!

[2020-10-08 09:57] pjgpetecodes opened #62 "Hacktoberfest Bug: Sponsor Logos not adapting to different widths"
### Describe the bug

The PJG Creations Sponsor Logo on the Homepage is squished.

**To Reproduce**

- Load the Homepage

**Reproduces how often:**

Every time

**Expected behaviour**

Logos should be responsive to size... Perhaps a fixed height but variable width

**Screenshots**

![image](https://user-images.githubusercontent.com/7139618/95443916-18ed3100-0955-11eb-8515-c667a1f30450.png)

[2020-10-08 10:00] pjgpetecodes opened #63 "Hacktoberfest Bug: Sponsor Logos are blocked by uBlock Origin"
### Describe the bug

uBlock Origin is blocking the Sponsor Images on the Homepage.

This is caused we think by the `sponsor-logo` class on the Image.

**To Reproduce**

- Load the Homepage

**Reproduces how often:**

Every time

**Expected behaviour**

The Sponsor Logos should be shown if uBlock Origin is installed.

**Screenshots**

![image](https://user-images.githubusercontent.com/7139618/9544

[2020-10-08 10:01] pjgpetecodes commented on #62
@rajeevbhat27... Did you want to put your hand up for this one?

[2020-10-08 10:02] pjgpetecodes commented on #63
@rajeevbhat27... Did you want to put your hand up for this one?

[2020-10-08 10:18] rajeevbhat27 commented on #62
sure @pjgpetecodes

[2020-10-08 10:20] rajeevbhat27 commented on #63
Didn't understand the issue.

[2020-10-08 12:40] chatRG commented on #63
@pjgpetecodes I can fix this!

[2020-10-08 13:01] pjgpetecodes commented on #63
@chatRG ... Consider it yours! @rajeevbhat27... Yeah, Chrome / Edge seem to block the `sponsor-logo` class I think?

[2020-10-08 13:02] pjgpetecodes commented on #62
Thanks @rajeevbhat27!

[2020-10-08 13:15] rajeevbhat27 commented on #63
Okay..it should be fine if we change the class name i guess.

[2020-10-08 14:13] chatRG commented on #63
@pjgpetecodes Fixed in PR #64

[2020-10-10 17:30] mosoftwareenterprises commented on #2
@wordshaker do I need to do anything else with this? Not sure what's next in the process.
Thanks
Mark

[2020-10-10 17:30] mosoftwareenterprises commented on #61
@pjgpetecodes yes I would like to take this one. Thanks

[2020-10-10 17:39] pjgpetecodes commented on #61
Done!

[2020-10-10 17:55] #63 closed

[2020-10-10 17:57] pjgpetecodes commented on #62
Hint for this one;

[code]

[2020-10-11 08:53] wordshaker commented on #2
Nope you are all done 😄 I will close this issue now. Thanks for your contribution.

[2020-10-11 08:53] #2 closed

[2020-10-11 12:27] rajeevbhat27 commented on #20
hey @wordshaker  for some reason import of font awesome is not working in  app.css. Could you add fontawesome to the project?

[2020-10-11 13:58] #62 closed

[2020-11-05 19:52] wordshaker commented on #61
Problem fixed by @mosoftwareenterprises

[2020-11-05 19:52] #61 closed

[2020-11-05 19:55] wordshaker commented on #54
Done by @Aliecake

[2020-11-05 19:55] #54 closed

[2020-11-05 19:56] #38 closed

[2020-11-05 19:57] #32 closed

[2020-11-05 19:57] wordshaker commented on #31
Completed by @rach-m

[2020-11-05 19:57] #31 closed

[2020-11-05 19:57] wordshaker commented on #30
Completed by @LukeBillo

[2020-11-05 19:57] #30 closed

[2020-11-05 19:58] wordshaker commented on #11
Completed by @Aliecake

[2020-11-05 19:58] #11 closed

[2020-11-05 19:58] wordshaker commented on #16
Completed by @rajeevbhat27

[2020-11-05 19:58] #16 closed

[2020-11-05 19:59] wordshaker commented on #18
Completed by @atharvakadlag

[2020-11-05 19:59] #18 closed

[2020-11-05 20:00] wordshaker commented on #22
Completed by @Haniket

[2020-11-05 20:00] #22 closed

[2020-11-06 10:22] LukeBillo commented on #30
Hey @wordshaker - just as a note, I just realised I never added this to the GitHub workflow. Did you want me to raise a quick PR later today to add it in?

[2020-11-19 10:45] wordshaker commented on #30
@LukeBillo that would be awesome if you don't mind

[2020-12-03 16:05] wordshaker opened #70 "Feature Request: Make website responsive"
### Describe the feature

- Currently this website looks awful and is unuseable on a mobile device. Please adjust it so it works on a smaller screen

### Advantages

- More people can access and use the site

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] The site is visible and useable on a mobile device
- [ ] The site is visible and useabl

[2020-12-03 16:06] wordshaker opened #71 "Feature Request: Enable Hamburger for Nav on smaller screens"
### Describe the feature

- When the site is viewed on a screen where the whole nav is not visible, a hamburger dropdown is displayed

### Advantages

- Can navigate the site when displayed on smaller screens

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] On a smaller screen where the navigation links not longer fit on the page a hamburger

[2020-12-03 16:07] wordshaker opened #72 "Feature Request: Add Footer to the site"
### Describe the feature

- A blank footer is added to the webpage that is only visible when scrolling to the bottom of the pages

### Advantages

- Enables space for sitemap and social links

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] A blank footer is added to the webpage that is only visible when scrolling to the bottom of the pages

[2020-12-03 16:09] wordshaker opened #73 "Feature Request: Add Gallery of Speakers to Events Page"
### Describe the feature

- A section which on the `Events Page` (http://www.dotnetnotts.co.uk/events) under `Past Speakers` has a grid of images of past speakers.
- Images could have speakers social links (Twitter preferred)

### Advantages

- An easy place to see and find out about all our great past speakers

#### Acceptance Criteria

Functional and non-functional criteria that should be met by

[2020-12-03 16:09] #19 closed

[2020-12-03 16:09] #14 closed

[2020-12-03 16:09] #12 closed

[2020-12-03 16:09] #15 closed

[2020-12-03 16:10] wordshaker opened #74 "Bug: Image in header responsively fits"
### Describe the bug

The image in the header doesn't always fit inside the frame. This issue is to ensure it does.

### Screenshots

![image](https://user-images.githubusercontent.com/13496774/92409220-bcb9a600-f137-11ea-8380-60de04174f27.png)

[2020-12-03 16:10] #17 closed

[2020-12-03 16:10] #20 closed

[2020-12-03 16:19] #53 closed

[2020-12-03 16:19] #52 closed

[2020-12-03 16:19] #51 closed

[2020-12-03 16:20] wordshaker opened #76 "Feature Request: Improve Accessibiltiy with ARIA tags"
### Describe the feature

- Add aria tags to the HTML of the website.

### Advantages

- Ensuring the site is more accessible and easier to navigate with screen readers

## Links

- [w3 Org](https://www.w3.org/TR/html-aria/)
- [What the Heck is ARIA? A Beginner's Guide to ARIA for Accessibility](https://www.lullabot.com/articles/what-heck-aria-beginners-guide-aria-accessibility)

#### Acceptance C

[2020-12-03 16:20] #29 closed

[2020-12-03 16:20] #28 closed

[2020-12-03 16:20] #21 closed

[2020-12-03 16:21] wordshaker opened #77 "Feature Request: Add social media links and SiteMap to the footer"
### Describe the feature

**To be done after the issue #72  is completed**

- Links to our social media pages are added to the footer
- Sitemap added to the footer

### Advantages

N/A

### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

**Links to our social media pages are added to the footer**

- [ ] Twitter https://twitter.com/dotnetnotts

- [ ] Mee

[2020-12-03 16:26] wordshaker opened #78 "Feature Request: Port to .NET 5"
### Describe the feature

- Port the site to .NET 5

### Advantages

- Huge performance advantages

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Site is ported to .NET 5 with no regressions to functionality

[2020-12-10 16:26] kmlhsn opened #80 "Feature Request: Add information on homepage"
### Describe the feature
Add information on homepage

### Advantages
Currently there is no much information on homepage: https://dotnetnotts.co/

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ]

[2020-12-17 13:18] wordshaker commented on #80
This repository is for the new website soon to be hosted on dotnetnotts.co.uk

The old website will later be removed.

[2020-12-17 13:18] #80 closed

[2020-12-17 13:18] wordshaker commented on #72
This has been completed by @wordshaker

[2020-12-17 13:18] #72 closed

[2020-12-17 13:19] #70 closed

[2021-01-06 12:52] gyro2009 commented on #78
Can I get this issue please?

[2021-01-06 14:24] wordshaker commented on #78
All yours!

[2021-01-10 16:22] wordshaker commented on #78
Completed by @gyro2009. Thanks Paul!

[2021-01-10 16:22] #78 closed

[2021-01-25 09:09] wordshaker opened #86 "Bug: Current font not available on Mac"
### Describe the bug

- `Bahnschrift` is only available on windows

### To Reproduce

1. Open webpage http://www.dotnetnotts.co.uk/ on Mac

### Reproduces how often:

100%

### Expected behaviour

The font should be:

- [ ]  fitting to the .NET Notts brand
- [ ] dyslexia/screen reader friendly
- [ ] the same when viewed on Mac and Windows machines

Extra todo:

- [ ] Update branding notes on Readm

[2021-01-25 10:27] wordshaker opened #87 "Feature Request: Add API call to pull in upcoming meetup"
### Describe the feature

On the homepage under `Upcoming Events` we would like the following information pulled from Meetup and displayed:
- The title of the next meetup
- Speakers name
- Link to meetup to sign up for the event.

You can use this API to pull from Meetup:  https://github.com/dotnetnotts/dotnetnotts-api or call the Meetup API directly

### Advantages

-  Visitors to the website can

[2021-01-25 19:13] #86 closed

[2021-03-07 15:14] wordshaker opened #97 "Feature Request: Add security scanning"
### Describe the feature

- Add security scanning to the repository

### Advantages

- Better visibility of vulnerabilities

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] Automated security scans enabled on the repository
- [ ] The tool is free and well supported

[2021-03-08 18:19] #71 closed

[2021-03-08 18:19] #74 closed

[2021-03-08 18:28] wordshaker opened #98 "Feature Request: Reduce Page Loading Time"
### Describe the feature

When first going to [https://dotnetnotts.co.uk/](https://dotnetnotts.co.uk/) there is a blank loading screen with the text `Loading..` that shows before the website fully loads.

Ideally, this loading time would be reduced.

See [Lazy load assemblies in ASP.NET Core Blazor WebAssembly](https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-lazy-load-assemblies?vi

[2021-03-08 18:42] wordshaker opened #99 "Feature Request: Improve Lighthouse Performance Score"
### Describe the feature

The site currently has a score of 17 for performance when Lighthouse is run against it.

The details of improvements that can be made are shown in the lighthouse report

![image](https://user-images.githubusercontent.com/13496774/110366267-f5323200-803d-11eb-8f6e-5bcdb08ed7e6.png)

### To Get Lighthouse Score

- Open the site in Chrome
- Open developer tools
- Go to the L

[2021-03-08 18:44] wordshaker opened #100 "Feature Request: Improve Lighthouse Accessibility Score"
### Describe the feature

The site currently has a score of 70 for accessibility when Lighthouse is run against it.

The details of improvements that can be made are shown in the lighthouse report

![image](https://user-images.githubusercontent.com/13496774/110366452-362a4680-803e-11eb-9e82-39eb4506ae73.png)

### To Get Lighthouse Score

- Open the site in Chrome
- Open developer tools
- Go to the

[2021-03-08 18:46] wordshaker opened #101 "Feature Request: Improve Lighthouse Best Practice Score"
### Describe the feature

The site currently has a score of 86 for Best Practices when Lighthouse is run against it.

The details of improvements that can be made are shown in the lighthouse report

![image](https://user-images.githubusercontent.com/13496774/110366597-6d005c80-803e-11eb-8e57-c8dff72ac56e.png)

### To Get Lighthouse Score

- Open the site in Chrome
- Open developer tools
- Go to th

[2021-03-08 18:47] wordshaker opened #102 "Feature Request: Improve Lighthouse SEO Score"
### Describe the feature

The site currently has a score of 77 for SEO when Lighthouse is run against it.

The details of improvements that can be made are shown in the lighthouse report

![image](https://user-images.githubusercontent.com/13496774/110366797-afc23480-803e-11eb-8f5b-429df34c41c4.png)

### To Get Lighthouse Score

- Open the site in Chrome
- Open developer tools
- Go to the Lighthous

[2021-03-08 18:50] wordshaker opened #103 "Feature Request: Decrease Lighthouse Progressive Web App Errors"
### Describe the feature

The site currently has a number of errors when checked when checking for the Progressive Web App standards in Lighthouse.

The details of improvements that can be made are shown in the lighthouse report

![image](https://user-images.githubusercontent.com/13496774/110366940-ee57ef00-803e-11eb-80d2-9f0457647fab.png)

### To Get Lighthouse Score

- Open the site in Chrome
-

[2021-03-08 20:02] wordshaker opened #104 "Bug: Misalignment of section on Speaker Information Page"
## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behaviour:

1. Go to [https://dotnetnotts.co.uk/speakerinfo](https://dotnetnotts.co.uk/speakerinfo)
2. View on laptop or desktop screen

## Reproduces how often:

100%

## Expected behaviour

`For All Events` section is aligned with the other sections

## Screenshots

![image](https://

[2021-05-25 22:26] RashmiSrinivas1 opened #116 "Feature Request: Improve color scheme used in the website"
### Describe the feature

- There are some accessibility issues highlighted by the lighthouse(Tool used in Dev tool to check the accessibility issues) as the background and foreground colors do not have a sufficient  contrast ratio. This is to come up with color scheme to be used by the website.

### Advantages
- Site will be more accessible

#### Acceptance Criteria
- Define color coding with con

[2021-10-12 19:36] wordshaker opened #132 "Security Fix: Address vulnerabilities raised by Snyk"
### Description

Fix the following

- [x] Medium severity vulnerability found in System.Net.Http

  Description: Authentication Bypass
  Info: https://snyk.io/vuln/SNYK-DOTNET-SYSTEMNETHTTP-60048
  Introduced through: xunit@2.4.1
  From: xunit@2.4.1 > xunit.assert@2.4.1 > NETStandard.Library@1.6.1 > System.Net.Http@4.3.0
  From: xunit@2.4.1 > xunit.core@2.4.1 > xunit.extensibility.core@2.4.1 > NET

[2021-11-10 19:36] wordshaker opened #142 "Feature Request: Update project to use all the new features of .NET 6"
### Describe the feature

As stated in the documentation for Blazor docs it's best to create a new Blazor project and move the functionality over from your original project.

[https://docs.microsoft.com/en-us/aspnet/core/migration/50-to-60?view=aspnetcore-6.0&tabs=visual-studio#blazor](https://docs.microsoft.com/en-us/aspnet/core/migration/50-to-60?view=aspnetcore-6.0&tabs=visual-studio#blazor)

#

[2022-09-27 08:25] #132 closed

[2022-09-27 08:25] #142 closed

[2022-09-27 08:33] wordshaker opened #185 "Feature Request: Add Speaker information from Sessionise to website"
### Describe the feature

Add the Speakers Wall from Sessionize to display our past and planned speakers

https://sessionize.com/api/v2/eq1opc2o/view/SpeakerWall

### Advantages

- Shows who has spoken and is going to speak at .NET Notts

#### Acceptance Criteria

Functional and non-functional criteria that should be met by this work

- [ ] A speakers page displays the information from Sessionise

[2022-09-29 08:19] rebiiin commented on #185
I tried to add Speakers into Speaker Information page all Speakers were showed up but only popups not working
would you mind change API format in Sessionize account from **Embed Styled Html**  to **json** format ? I'll handle it.
<img width="1281" alt="Capture" src="https://user-images.githubusercontent.com/3890058/192978804-1d7daf0d-9472-4df1-9f51-2c57a142650c.PNG">

[2022-09-30 13:23] wordshaker commented on #185
I've changed the format on the sessionize UI https://sessionize.com/api/v2/eq1opc2o/view/SpeakerWall
Thanks!

[2022-09-30 13:46] rebiiin commented on #185
Thanks Jessica, I will work on it.